{% extends "base.html" %}

{% block content %}
<center>
    <h1>Tweet Generator</h1>
    <p>Your Tweet is:</p>

    <!-- TWEET -->
    <div class='tweet'>
            {{ sentence }}
    </div>

    <!-- submit button-->
    <form action="/send_tweet">
        <a href="/"><button type="button">Refresh</button></a>
    </form>
        <!-- tweet button-->
    <form action="/send_tweet" method="POST">
        <input type="hidden" name="tweet_sentence" value='{{ sentence }}'> 
            <button type="submit">Tweet It</button></a>
    </form>
    </center>
{% endblock %}